[submodule "ThirdParty/SA/Support"]
	path = ThirdParty/SA/Support
	url = git@github.com:SapphireSuite/Support.git
[submodule "ThirdParty/SA/Flags"]
	path = ThirdParty/SA/Flags
	url = git@github.com:SapphireSuite/Flags.git
